<ion-header [translucent]="false">
  <ion-toolbar  >
    <ion-title>
     Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"  style="background-color: rgba(89, 253, 89, 0.473);">
    <strong>Hatun</strong>
    <p>Pagina Inicial (Demo)
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> 
        Listar eventos</a></p>
  </div>
</ion-content>
