<!-- 
<ion-header [translucent]="false"   ></ion-header>

  <ion-toolbar  >
   <ion-title>
  Bienvenido
 </ion-title>
  </ion-toolbar>
  asd

-->

<!-- 
<ion-content [fullscreen]="true"  >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>  

  
</ion-content>  -->
<body>

  <div  id="container"  style="background-color: rgba(215, 231, 215, 0.253);">
    <strong>Hatun</strong>
    <p>Pagina Inicial (Demo)
      <a href="#"> 
        Conexion Firebase Exitosa....  </a></p>
  </div>
</body>
